@model IEnumerable<ABCRetailers.Models.Product>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ProductName</td>
                <td>@p.Description</td>
                <td>R @p.Price</td>
                <td>@p.StockAvailable</td>
            </tr>
        }
    </tbody>
</table>